
.Mainheader {
    list-style-type: none;
    padding: 1vw;
}

.SiteBody{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("pexels-pixabay-220067.jpg");
}

#Welcome{
    text-shadow: 1px 1px 15px rgb(255, 255, 255);
    font-size: 3vw;
    text-align: center;
    transition: 0.5s;
    color: aqua;
}

.mainheaderlist{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1vw;
    text-decoration: none;
}

li a:hover{
    box-shadow: 1vw 1vw 2vw green;
    background-color: white;
    color: black;
}

#logo{
    width: 5vw;
    height: 5vw;
    box-shadow: 10px 10px aqua;
}

li {
    width: 10vw;
    height: 5vw;
    float:left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
    text-shadow: 1px 1px 5px rgb(0, 255, 0);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.international {
    left: 35vw;
    position: absolute;
    color: rgb(0, 255, 64);
    padding: 1vw;
    text-shadow: 5px 5px 10px rgb(64, 182, 218);
    font-size: 2.5vw;
    text-decoration: none;
}

.international:hover{
   color:white;
    width: 30vw;
    height: 4vw;
}

#internationalimage{
    left: 5vw;
    top: 28vw;
    position: absolute;
    box-shadow: 5px 5px 50px rgb(187, 219, 7);
    opacity: 85%;
    transition: 0.3s;
    width: 30%;
    height: auto;
}


#interpara{
    position: absolute;
    top: 35vw;
    left: 40vw;
    right: 5vw;
    padding: 1vw;
    box-shadow: 10px 10px 20px rgb(124, 204, 124);
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right,#ffecd2,#fcb69f);
    text-shadow: 1px 1px red;
    font-size: 1.3vw;
}


.national {
    left: 35vw;
    top: 75vw;
    position: absolute;
    color: aqua;
    padding: 1vw;
    text-shadow: 5px 5px 10px rgb(64, 182, 218);
    font-size: 2.5vw;
    text-decoration: none;
}

.national:hover{
   color:white;
    width: 30vw;
    height: 4vw;
}

#nationalimage{
    left: 5vw;
    top: 85vw;
    position: absolute;
    box-shadow: 5px 5px 50px rgb(0, 255, 0);
    transition: 0.3s;
    width: 35%;
    height: auto;
}


#nationpara{
    position: absolute;
    top: 90vw;
    left: 45vw;
    right: 5vw;
    padding: 1vw;
    box-shadow: 10px 10px 20px rgb(124, 204, 124);
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right,#bff098,#6fd6ff);
    text-shadow: 1px 1px red;
    font-size: 1.3vw;
}

.internationalfactaboutmovies{
    list-style-type: none;
    padding: 1vw;
}

#fact1international{
    position: absolute;
    left: 0vw;
    color: yellow;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    padding: 2vw;
}

#fact2international{
    position: absolute;
    left: 25vw;
    color: yellow;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    padding: 2vw;
}

#fact3international{
    position: absolute;
    left: 50vw;
    color: yellow;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    padding: 2vw;
}

#fact1national{
    position: absolute;
    left: 0vw;
    color: yellow;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    padding: 2vw;
}

#fact2national{
    position: absolute;
    left: 25vw;
    color: yellow;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    padding: 2vw;
}

#fact3national{
    position: absolute;
    left: 50vw;
    color: yellow;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    padding: 2vw;
}